body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

button {
    width: auto;
    flex: auto;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.toptop {
    background-color: #1f2937;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding: 20px 200px 100px;
}

.tth {
    display: flex;
    justify-content: space-between;
}

.header1 {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.litt {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
}

.link1 {
    text-decoration: none;
}

.ttbody {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

a, .ttbt {
    font-size: 18px;
    color: #e5e7eb;
}

.img1 {
    height: 500px;
    width: auto;
}

.signup1 {
    padding: 8px 35px;
    font-size: 15px;
    margin-top: 10px;
    border: none;
}

.Topmid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 30px;
}

.tmpics {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 100px;
}

.tmcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 310px;
}

.tmimg {
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 5px solid #1f2937;
    border-radius: 12px;
}

.link2, .tmtext {
    color: black;
    font-size: 16px;
}

.Botmid {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px;
}

.bmcontainer {
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937
}

.author {
    font-size: 26px;
    font-weight: bold;
    align-self: flex-end;
}

.Botbot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bbcontainer1 {
    background-color: #3882F6;
    flex: auto;
    display: flex;
    justify-content: space-evenly;
    margin: 75px 150px;
    padding: 25px 100px;
    border-radius: 6px;
}

.bbcontainer2 {
    color: #f9faf8;
}

.bbheader {
    font-size: 30px;
    font-weight: bold;
}

.bbtext {
    font-weight: lighter;
    font-size: 20px;
}

.button2 {
    width: 140px;
    height: 40px;
    align-self: center;
    flex: none;
    border-color: white;
    border-radius: 6px;
    border-style: solid;
    font-size: 18px;
}

.Footer {
    background-color: #1f2937;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer1 {
    color: #f9faf8;
    font-size: 18px;
}